* {
	font-family: "Nunito", sans-serif;
}

.my-name {
	font-size: 40px;
}

.top-margin {
	margin-top: 10px;
}

.text-muted {
	color: #7d97ad;
}

hr {
	border-top: 5px solid #7d97ad;
}

p {
	font-size: 20px;
}

a {
	font-size: 16px;
}

#featured-work {
	font-size: 16px;
}


@media screen and (max-width: 991px) {
	.text-muted {
		text-align: center;
	}

	#main-title {
		text-align: center;
	}

	#logo-id {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
}